body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:756px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2318 {
  position:absolute;
  left:56px;
  top:96px;
  width:705px;
  height:95px;
}
#u2319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2319 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2320 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2321 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u2322 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2323 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u2324 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2325 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u2326 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2327 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u2328 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2329 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
}
#u2330 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2331 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
}
#u2332 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2333 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u2334 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2335 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u2336 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2337 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u2338 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2339 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
}
#u2340 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2341 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
}
#u2342 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2343 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:30px;
}
#u2344 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2345 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:30px;
}
#u2346 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2347 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u2348 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2349 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u2350 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2351 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u2352 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2353 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
}
#u2354 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2355 {
  position:absolute;
  left:400px;
  top:60px;
  width:100px;
  height:30px;
}
#u2356 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2357 {
  position:absolute;
  left:500px;
  top:60px;
  width:100px;
  height:30px;
}
#u2358 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2359 {
  position:absolute;
  left:600px;
  top:60px;
  width:100px;
  height:30px;
}
#u2360 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
