<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxin.siwei.fangzhi.mapper.SwCompanyInfoMapper">
  <resultMap id="BaseResultMap" type="com.fangxin.siwei.fangzhi.modal.SwCompanyInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="comp_no" jdbcType="VARCHAR" property="compNo" />
    <result column="comp_name" jdbcType="VARCHAR" property="compName" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="telphone" jdbcType="VARCHAR" property="telphone" />
    <result column="tax" jdbcType="VARCHAR" property="tax" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="is_self" jdbcType="CHAR" property="isSelf" />
    <result column="is_valid" jdbcType="CHAR" property="isValid" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_no" jdbcType="VARCHAR" property="createNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modi_no" jdbcType="VARCHAR" property="modiNo" />
    <result column="modi_time" jdbcType="TIMESTAMP" property="modiTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, comp_no, comp_name, contact_name, mobile, telphone, tax, email, addr, is_self, 
    is_valid, memo, create_no, create_time, modi_no, modi_time, version
  </sql>
  <select id="selectByCompNo" parameterType="java.lang.String" resultMap="BaseResultMap">
     SELECT
     <include refid="Base_Column_List" />
    from sw_company_info
    where  comp_no = #{compNo,jdbcType=VARCHAR}
  </select>
  <update id="updateByCompNo" parameterType="com.fangxin.siwei.fangzhi.modal.SwCompanyInfo">
    update sw_company_info
    <set>
      <if test="compName != null">
        comp_name = #{compName,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null">
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="tax != null">
        tax = #{tax,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="isSelf != null">
        is_self = #{isSelf,jdbcType=CHAR},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=CHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createNo != null">
        create_no = #{createNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modiNo != null">
        modi_no = #{modiNo,jdbcType=VARCHAR},
      </if>
      <if test="modiTime != null">
        modi_time = #{modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where  comp_no = #{compNo,jdbcType=VARCHAR}
  </update>



</mapper>