<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxin.siwei.fangzhi.mapper.SwDeliverBaseMapper">
  <resultMap id="BaseResultMap" type="com.fangxin.siwei.fangzhi.modal.SwDeliverBase">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="deliver_no" jdbcType="VARCHAR" property="deliverNo" />
    <result column="deliver_date" jdbcType="DATE" property="deliverDate" />
    <result column="deliver_way" jdbcType="VARCHAR" property="deliverWay" />
    <result column="send_name" jdbcType="VARCHAR" property="sendName" />
    <result column="if_gurant" jdbcType="CHAR" property="ifGurant" />
    <result column="deliver_status" jdbcType="VARCHAR" property="deliverStatus" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="cust_comp_no" jdbcType="VARCHAR" property="custCompNo" />
    <result column="cust_comp_name" jdbcType="VARCHAR" property="custCompName" />
    <result column="cust_contact_name" jdbcType="VARCHAR" property="custContactName" />
    <result column="cust_mobile" jdbcType="VARCHAR" property="custMobile" />
    <result column="cust_phone" jdbcType="VARCHAR" property="custPhone" />
    <result column="cust_tax" jdbcType="VARCHAR" property="custTax" />
    <result column="cust_addr" jdbcType="VARCHAR" property="custAddr" />
    <result column="create_no" jdbcType="VARCHAR" property="createNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modi_no" jdbcType="VARCHAR" property="modiNo" />
    <result column="modi_time" jdbcType="TIMESTAMP" property="modiTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, deliver_no, deliver_date, deliver_way, send_name, if_gurant, deliver_status,
    memo, cust_comp_no, cust_comp_name, cust_contact_name, cust_mobile, cust_phone,
    cust_tax, cust_addr, create_no, create_time, modi_no, modi_time, version
  </sql>

  <select id="selectByDeliverNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sw_deliver_base
    where deilver_no = #{deilverNo,jdbcType=VARCHAR}
  </select>


  <update id="updateByDeliverNo" >
    update sw_deliver_base
    <set>
      <if test="deliverDate != null">
        deliver_date = #{deliverDate,jdbcType=DATE},
      </if>
      <if test="deliverWay != null">
        deliver_way = #{deliverWay,jdbcType=VARCHAR},
      </if>
      <if test="sendName != null">
        send_name = #{sendName,jdbcType=VARCHAR},
      </if>
      <if test="ifGurant != null">
        if_gurant = #{ifGurant,jdbcType=CHAR},
      </if>
      <if test="deliverStatus != null">
        deliver_status = #{deliverStatus,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="custCompNo != null">
        cust_comp_no = #{custCompNo,jdbcType=VARCHAR},
      </if>
      <if test="custCompName != null">
        cust_comp_name = #{custCompName,jdbcType=VARCHAR},
      </if>
      <if test="custContactName != null">
        cust_contact_name = #{custContactName,jdbcType=VARCHAR},
      </if>
      <if test="custMobile != null">
        cust_mobile = #{custMobile,jdbcType=VARCHAR},
      </if>
      <if test="custPhone != null">
        cust_phone = #{custPhone,jdbcType=VARCHAR},
      </if>
      <if test="custTax != null">
        cust_tax = #{custTax,jdbcType=VARCHAR},
      </if>
      <if test="custAddr != null">
        cust_addr = #{custAddr,jdbcType=VARCHAR},
      </if>
      <if test="createNo != null">
        create_no = #{createNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modiNo != null">
        modi_no = #{modiNo,jdbcType=VARCHAR},
      </if>
      <if test="modiTime != null">
        modi_time = #{modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = version+1
      </if>
    </set>
    where   deliver_no = #{deliverNo,jdbcType=VARCHAR}
    <if test="version != null">
    and  version = #{version,jdbcType=VARCHAR}
    </if>
  </update>
</mapper>