<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxin.siwei.fangzhi.mapper.SwDeliverDetailMapper">
  <resultMap id="BaseResultMap" type="com.fangxin.siwei.fangzhi.modal.SwDeliverDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="deilver_no" jdbcType="VARCHAR" property="deilverNo" />
    <result column="deilver_seq_no" jdbcType="VARCHAR" property="deilverSeqNo" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="order_seq_no" jdbcType="VARCHAR" property="orderSeqNo" />
    <result column="box_no" jdbcType="VARCHAR" property="boxNo" />
    <result column="prod_no" jdbcType="VARCHAR" property="prodNo" />
    <result column="prod_name" jdbcType="VARCHAR" property="prodName" />
    <result column="prod_type" jdbcType="VARCHAR" property="prodType" />
    <result column="prod_form" jdbcType="VARCHAR" property="prodForm" />
    <result column="prod_long" jdbcType="DECIMAL" property="prodLong" />
    <result column="prod_width" jdbcType="DECIMAL" property="prodWidth" />
    <result column="prod_num" jdbcType="DECIMAL" property="prodNum" />
    <result column="prod_price" jdbcType="DECIMAL" property="prodPrice" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_no" jdbcType="VARCHAR" property="createNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modi_no" jdbcType="VARCHAR" property="modiNo" />
    <result column="modi_time" jdbcType="TIMESTAMP" property="modiTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, deilver_no, deilver_seq_no, order_no, order_seq_no, box_no, prod_no, prod_name, 
    prod_type, prod_form, prod_long, prod_width, prod_num, prod_price, memo, create_no, 
    create_time, modi_no, modi_time, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sw_deliver_detail
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByDeliverNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sw_deliver_detail
    where deilver_no = #{deilverNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sw_deliver_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangxin.siwei.fangzhi.modal.SwDeliverDetail">
    insert into sw_deliver_detail (id, deilver_no, deilver_seq_no, 
      order_no, order_seq_no, box_no, 
      prod_no, prod_name, prod_type, 
      prod_form, prod_long, prod_width, 
      prod_num, prod_price, memo, 
      create_no, create_time, modi_no, 
      modi_time, version)
    values (#{id,jdbcType=INTEGER}, #{deilverNo,jdbcType=VARCHAR}, #{deilverSeqNo,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{orderSeqNo,jdbcType=VARCHAR}, #{boxNo,jdbcType=VARCHAR}, 
      #{prodNo,jdbcType=VARCHAR}, #{prodName,jdbcType=VARCHAR}, #{prodType,jdbcType=VARCHAR}, 
      #{prodForm,jdbcType=VARCHAR}, #{prodLong,jdbcType=DECIMAL}, #{prodWidth,jdbcType=DECIMAL}, 
      #{prodNum,jdbcType=DECIMAL}, #{prodPrice,jdbcType=DECIMAL}, #{memo,jdbcType=VARCHAR}, 
      #{createNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modiNo,jdbcType=VARCHAR}, 
      #{modiTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
      insert into sw_deliver_detail ( deilver_no, deilver_seq_no,
      order_no, order_seq_no, box_no,
      prod_no, prod_name, prod_type,
      prod_form, prod_long, prod_width,
      prod_num, prod_price, memo,
      create_no, create_time, modi_no,
      modi_time, version)
    values
    <foreach collection="list" index="index" separator="," item="item">
      ( #{item.deilverNo,jdbcType=VARCHAR}, #{item.deilverSeqNo,jdbcType=VARCHAR},
      #{item.orderNo,jdbcType=VARCHAR}, #{item.orderSeqNo,jdbcType=VARCHAR}, #{item.boxNo,jdbcType=VARCHAR},
      #{item.prodNo,jdbcType=VARCHAR}, #{item.prodName,jdbcType=VARCHAR}, #{item.prodType,jdbcType=VARCHAR},
      #{item.prodForm,jdbcType=VARCHAR}, #{item.prodLong,jdbcType=DECIMAL}, #{item.prodWidth,jdbcType=DECIMAL},
      #{item.prodNum,jdbcType=DECIMAL}, #{item.prodPrice,jdbcType=DECIMAL}, #{item.memo,jdbcType=VARCHAR},
      #{item.createNo,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.modiNo,jdbcType=VARCHAR},
      #{item.modiTime,jdbcType=TIMESTAMP}, #{item.version,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.fangxin.siwei.fangzhi.modal.SwDeliverDetail">
    insert into sw_deliver_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deilverNo != null">
        deilver_no,
      </if>
      <if test="deilverSeqNo != null">
        deilver_seq_no,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="orderSeqNo != null">
        order_seq_no,
      </if>
      <if test="boxNo != null">
        box_no,
      </if>
      <if test="prodNo != null">
        prod_no,
      </if>
      <if test="prodName != null">
        prod_name,
      </if>
      <if test="prodType != null">
        prod_type,
      </if>
      <if test="prodForm != null">
        prod_form,
      </if>
      <if test="prodLong != null">
        prod_long,
      </if>
      <if test="prodWidth != null">
        prod_width,
      </if>
      <if test="prodNum != null">
        prod_num,
      </if>
      <if test="prodPrice != null">
        prod_price,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="createNo != null">
        create_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modiNo != null">
        modi_no,
      </if>
      <if test="modiTime != null">
        modi_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deilverNo != null">
        #{deilverNo,jdbcType=VARCHAR},
      </if>
      <if test="deilverSeqNo != null">
        #{deilverSeqNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderSeqNo != null">
        #{orderSeqNo,jdbcType=VARCHAR},
      </if>
      <if test="boxNo != null">
        #{boxNo,jdbcType=VARCHAR},
      </if>
      <if test="prodNo != null">
        #{prodNo,jdbcType=VARCHAR},
      </if>
      <if test="prodName != null">
        #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="prodType != null">
        #{prodType,jdbcType=VARCHAR},
      </if>
      <if test="prodForm != null">
        #{prodForm,jdbcType=VARCHAR},
      </if>
      <if test="prodLong != null">
        #{prodLong,jdbcType=DECIMAL},
      </if>
      <if test="prodWidth != null">
        #{prodWidth,jdbcType=DECIMAL},
      </if>
      <if test="prodNum != null">
        #{prodNum,jdbcType=DECIMAL},
      </if>
      <if test="prodPrice != null">
        #{prodPrice,jdbcType=DECIMAL},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createNo != null">
        #{createNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modiNo != null">
        #{modiNo,jdbcType=VARCHAR},
      </if>
      <if test="modiTime != null">
        #{modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangxin.siwei.fangzhi.modal.SwDeliverDetail">
    update sw_deliver_detail
    <set>
      <if test="deilverNo != null">
        deilver_no = #{deilverNo,jdbcType=VARCHAR},
      </if>
      <if test="deilverSeqNo != null">
        deilver_seq_no = #{deilverSeqNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderSeqNo != null">
        order_seq_no = #{orderSeqNo,jdbcType=VARCHAR},
      </if>
      <if test="boxNo != null">
        box_no = #{boxNo,jdbcType=VARCHAR},
      </if>
      <if test="prodNo != null">
        prod_no = #{prodNo,jdbcType=VARCHAR},
      </if>
      <if test="prodName != null">
        prod_name = #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="prodType != null">
        prod_type = #{prodType,jdbcType=VARCHAR},
      </if>
      <if test="prodForm != null">
        prod_form = #{prodForm,jdbcType=VARCHAR},
      </if>
      <if test="prodLong != null">
        prod_long = #{prodLong,jdbcType=DECIMAL},
      </if>
      <if test="prodWidth != null">
        prod_width = #{prodWidth,jdbcType=DECIMAL},
      </if>
      <if test="prodNum != null">
        prod_num = #{prodNum,jdbcType=DECIMAL},
      </if>
      <if test="prodPrice != null">
        prod_price = #{prodPrice,jdbcType=DECIMAL},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createNo != null">
        create_no = #{createNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modiNo != null">
        modi_no = #{modiNo,jdbcType=VARCHAR},
      </if>
      <if test="modiTime != null">
        modi_time = #{modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangxin.siwei.fangzhi.modal.SwDeliverDetail">
    update sw_deliver_detail
    set deilver_no = #{deilverNo,jdbcType=VARCHAR},
      deilver_seq_no = #{deilverSeqNo,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      order_seq_no = #{orderSeqNo,jdbcType=VARCHAR},
      box_no = #{boxNo,jdbcType=VARCHAR},
      prod_no = #{prodNo,jdbcType=VARCHAR},
      prod_name = #{prodName,jdbcType=VARCHAR},
      prod_type = #{prodType,jdbcType=VARCHAR},
      prod_form = #{prodForm,jdbcType=VARCHAR},
      prod_long = #{prodLong,jdbcType=DECIMAL},
      prod_width = #{prodWidth,jdbcType=DECIMAL},
      prod_num = #{prodNum,jdbcType=DECIMAL},
      prod_price = #{prodPrice,jdbcType=DECIMAL},
      memo = #{memo,jdbcType=VARCHAR},
      create_no = #{createNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modi_no = #{modiNo,jdbcType=VARCHAR},
      modi_time = #{modiTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>