<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxin.siwei.fangzhi.mapper.SwMaterialInfoMapper">
  <resultMap id="BaseResultMap" type="com.fangxin.siwei.fangzhi.modal.SwMaterialInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="material_no" jdbcType="VARCHAR" property="materialNo" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_type" jdbcType="VARCHAR" property="materialType" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="pattern" jdbcType="VARCHAR" property="pattern" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="material_long" jdbcType="DECIMAL" property="materialLong" />
    <result column="material_width" jdbcType="DECIMAL" property="materialWidth" />
    <result column="material_stock" jdbcType="VARCHAR" property="materialStock" />
    <result column="create_no" jdbcType="VARCHAR" property="createNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modi_no" jdbcType="VARCHAR" property="modiNo" />
    <result column="modi_time" jdbcType="TIMESTAMP" property="modiTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, material_no, material_name, material_type, spec, pattern, unit, memo,price,material_long,material_width,material_stock, create_no,
    create_time, modi_no, modi_time, version
  </sql>
  <select id="selectByMaterialNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sw_material_info
    where material_no = #{materialNo,jdbcType=VARCHAR}
  </select>

  <select id="findMaterialLike" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from sw_material_info
    where  1=1 and (material_no like CONCAT (#{condStr},'%') or material_name like CONCAT (#{condStr},'%'))
  </select>

  <update id="updateByMateialNo" parameterType="com.fangxin.siwei.fangzhi.modal.SwMaterialInfo">
    update sw_material_info
    <set>

      <if test="materialName != null and materialName != ''">
        material_name = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialType != null and materialType != ''">
        material_type = #{materialType,jdbcType=VARCHAR},
      </if>
      <if test="spec != null and spec != ''">
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="pattern != null and pattern != ''">
        pattern = #{pattern,jdbcType=VARCHAR},
      </if>
      <if test="unit != null and unit != ''">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="memo != null and memo != ''">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="price != null and price != ''">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="materialLong != null and materialLong != ''">
        material_long = #{materialLong,jdbcType=DECIMAL},
      </if>
      <if test="materialWidth != null and materialWidth != ''">
        material_width = #{materialWidth,jdbcType=DECIMAL},
      </if>
      <if test="materialStock != null  and materialStock != ''">
        material_stock = #{materialStock,jdbcType=VARCHAR},
      </if>
      <if test="createNo != null">
        create_no = #{createNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modiNo != null">
        modi_no = #{modiNo,jdbcType=VARCHAR},
      </if>
      <if test="modiTime != null">
        modi_time = #{modiTime,jdbcType=TIMESTAMP},
      </if>
        version = version+1,
    </set>
    where
    material_no = #{materialNo,jdbcType=VARCHAR}
    and version = #{version,jdbcType=INTEGER}
  </update>

</mapper>