<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxin.siwei.fangzhi.mapper.SwOrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.fangxin.siwei.fangzhi.modal.SwOrderDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="order_seq_no" jdbcType="VARCHAR" property="orderSeqNo" />
    <result column="prod_no" jdbcType="VARCHAR" property="prodNo" />
    <result column="prod_name" jdbcType="VARCHAR" property="prodName" />
    <result column="prod_type" jdbcType="VARCHAR" property="prodType" />
    <result column="prod_form" jdbcType="VARCHAR" property="prodForm" />
    <result column="prod_long" jdbcType="DECIMAL" property="prodLong" />
    <result column="prod_width" jdbcType="DECIMAL" property="prodWidth" />
    <result column="prod_num" jdbcType="DECIMAL" property="prodNum" />
    <result column="prod_unit" jdbcType="VARCHAR" property="prodUnit" />
    <result column="prod_price_no" jdbcType="VARCHAR" property="prodPriceNo" />
    <result column="prod_price_express" jdbcType="VARCHAR" property="prodPriceExpress" />
    <result column="prod_price" jdbcType="DECIMAL" property="prodPrice" />
    <result column="prod_amt" jdbcType="DECIMAL" property="prodAmt" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="material_no" jdbcType="VARCHAR" property="materialNo" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_width" jdbcType="DECIMAL" property="materialWidth" />
    <result column="material_price_no" jdbcType="VARCHAR" property="materialPriceNo" />
    <result column="material_price_name" jdbcType="VARCHAR" property="materialPriceName" />
    <result column="material_price_express" jdbcType="VARCHAR" property="materialPriceExpress" />
    <result column="material_num" jdbcType="DECIMAL" property="materialNum" />
    <result column="material_price" jdbcType="DECIMAL" property="materialPrice" />
    <result column="tech_no" jdbcType="VARCHAR" property="techNo" />
    <result column="tech_name" jdbcType="VARCHAR" property="techName" />
    <result column="tech_price" jdbcType="DECIMAL" property="techPrice" />
    <result column="tech_price_express" jdbcType="VARCHAR" property="techPriceExpress" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="prod_price1" jdbcType="DECIMAL" property="prodPrice1" />
    <result column="if_prod" jdbcType="CHAR" property="ifProd" />
    <result column="cate_type" jdbcType="VARCHAR" property="cateType" />
    <result column="create_no" jdbcType="VARCHAR" property="createNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modi_no" jdbcType="VARCHAR" property="modiNo" />
    <result column="modi_time" jdbcType="TIMESTAMP" property="modiTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, order_seq_no, prod_no, prod_name, prod_type, prod_form, prod_long, 
    prod_width, prod_num, prod_unit, prod_price_no, prod_price_express, prod_price, prod_amt, 
    area, material_no, material_name, material_width, material_price_no, material_price_name,material_price_express,
    material_num, material_price, tech_no, tech_name, tech_price, tech_price_express, 
    memo, prod_price1, if_prod, cate_type, create_no, create_time, modi_no, modi_time, 
    version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sw_order_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sw_order_detail
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sw_order_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangxin.siwei.fangzhi.modal.SwOrderDetail">
    insert into sw_order_detail (id, order_no, order_seq_no, 
      prod_no, prod_name, prod_type, 
      prod_form, prod_long, prod_width, 
      prod_num, prod_unit, prod_price_no, 
      prod_price_express, prod_price, prod_amt, 
      area, material_no, material_name, 
      material_width, material_price_no,material_price_name, material_price_express,
      material_num, material_price, tech_no, 
      tech_name, tech_price, tech_price_express, 
      memo, prod_price1, if_prod, 
      cate_type, create_no, create_time, 
      modi_no, modi_time, version
      )
    values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{orderSeqNo,jdbcType=VARCHAR}, 
      #{prodNo,jdbcType=VARCHAR}, #{prodName,jdbcType=VARCHAR}, #{prodType,jdbcType=VARCHAR}, 
      #{prodForm,jdbcType=VARCHAR}, #{prodLong,jdbcType=DECIMAL}, #{prodWidth,jdbcType=DECIMAL}, 
      #{prodNum,jdbcType=DECIMAL}, #{prodUnit,jdbcType=VARCHAR}, #{prodPriceNo,jdbcType=VARCHAR}, 
      #{prodPriceExpress,jdbcType=VARCHAR}, #{prodPrice,jdbcType=DECIMAL}, #{prodAmt,jdbcType=DECIMAL}, 
      #{area,jdbcType=VARCHAR}, #{materialNo,jdbcType=VARCHAR}, #{materialName,jdbcType=VARCHAR}, 
      #{materialWidth,jdbcType=DECIMAL}, #{materialPriceNo,jdbcType=VARCHAR}, #{materialPriceName,jdbcType=VARCHAR},#{materialPriceExpress,jdbcType=VARCHAR},
      #{materialNum,jdbcType=DECIMAL}, #{materialPrice,jdbcType=DECIMAL}, #{techNo,jdbcType=VARCHAR}, 
      #{techName,jdbcType=VARCHAR}, #{techPrice,jdbcType=DECIMAL}, #{techPriceExpress,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{prodPrice1,jdbcType=DECIMAL}, #{ifProd,jdbcType=CHAR}, 
      #{cateType,jdbcType=VARCHAR}, #{createNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modiNo,jdbcType=VARCHAR}, #{modiTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertBatch" parameterType="java.util.List" >
     insert into sw_order_detail ( order_no, order_seq_no,
      prod_no, prod_name, prod_type,
      prod_form, prod_long, prod_width,
      prod_num, prod_unit, prod_price_no,
      prod_price_express, prod_price, prod_amt,
      area, material_no, material_name,
      material_width, material_price_no,material_price_name, material_price_express,
      material_num, material_price, tech_no,
      tech_name, tech_price, tech_price_express,
      memo, prod_price1, if_prod,
      cate_type, create_no, create_time,
      modi_no, modi_time, version
      )
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (  #{item.orderNo,jdbcType=VARCHAR}, #{item.orderSeqNo,jdbcType=VARCHAR},
    #{item.prodNo,jdbcType=VARCHAR}, #{item.prodName,jdbcType=VARCHAR}, #{item.prodType,jdbcType=VARCHAR},
    #{item.prodForm,jdbcType=VARCHAR}, #{item.prodLong,jdbcType=DECIMAL}, #{item.prodWidth,jdbcType=DECIMAL},
    #{item.prodNum,jdbcType=DECIMAL}, #{item.prodUnit,jdbcType=VARCHAR}, #{item.prodPriceNo,jdbcType=VARCHAR},
    #{item.prodPriceExpress,jdbcType=VARCHAR}, #{item.prodPrice,jdbcType=DECIMAL}, #{item.prodAmt,jdbcType=DECIMAL},
    #{item.area,jdbcType=VARCHAR}, #{item.materialNo,jdbcType=VARCHAR}, #{item.materialName,jdbcType=VARCHAR},
    #{item.materialWidth,jdbcType=DECIMAL}, #{item.materialPriceNo,jdbcType=VARCHAR}, #{item.materialPriceName,jdbcType=VARCHAR}, #{item.materialPriceExpress,jdbcType=VARCHAR},
    #{item.materialNum,jdbcType=DECIMAL}, #{item.materialPrice,jdbcType=DECIMAL}, #{item.techNo,jdbcType=VARCHAR},
    #{item.techName,jdbcType=VARCHAR}, #{item.techPrice,jdbcType=DECIMAL}, #{item.techPriceExpress,jdbcType=VARCHAR},
    #{item.memo,jdbcType=VARCHAR}, #{item.prodPrice1,jdbcType=DECIMAL}, #{item.ifProd,jdbcType=CHAR},
    #{item.cateType,jdbcType=VARCHAR}, #{item.createNo,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
    #{item.modiNo,jdbcType=VARCHAR}, #{item.modiTime,jdbcType=TIMESTAMP}, #{item.version,jdbcType=INTEGER})
  </foreach>
  </insert>

  <update id="updateBatch" parameterType="java.util.List" >
    <foreach collection="list" index="index" item="item" separator=";">
     update sw_order_detail
      <set>
        <if test="item.prodNo != null">
          prod_no = #{item.prodNo,jdbcType=VARCHAR},
        </if>
        <if test="item.prodName != null">
          prod_name = #{item.prodName,jdbcType=VARCHAR},
        </if>
        <if test="item.prodType != null">
          prod_type = #{item.prodType,jdbcType=VARCHAR},
        </if>
        <if test="item.prodForm != null">
          prod_form = #{item.prodForm,jdbcType=VARCHAR},
        </if>
        <if test="item.prodLong != null">
          prod_long = #{item.prodLong,jdbcType=DECIMAL},
        </if>
        <if test="item.prodWidth != null">
          prod_width = #{item.prodWidth,jdbcType=DECIMAL},
        </if>
        <if test="item.prodNum != null">
          prod_num = #{item.prodNum,jdbcType=DECIMAL},
        </if>
        <if test="item.prodUnit != null">
          prod_unit = #{item.prodUnit,jdbcType=VARCHAR},
        </if>
        <if test="item.prodPriceNo != null">
          prod_price_no = #{item.prodPriceNo,jdbcType=VARCHAR},
        </if>
        <if test="item.prodPriceExpress != null">
          prod_price_express = #{item.prodPriceExpress,jdbcType=VARCHAR},
        </if>
        <if test="item.prodPrice != null">
          prod_price = #{item.prodPrice,jdbcType=DECIMAL},
        </if>
        <if test="item.prodAmt != null">
          prod_amt = #{item.prodAmt,jdbcType=DECIMAL},
        </if>
        <if test="item.area != null">
          area = #{item.area,jdbcType=VARCHAR},
        </if>
        <if test="item.materialNo != null">
          material_no = #{item.materialNo,jdbcType=VARCHAR},
        </if>
        <if test="item.materialName != null">
          material_name = #{item.materialName,jdbcType=VARCHAR},
        </if>
        <if test="item.materialWidth != null">
          material_width = #{item.materialWidth,jdbcType=DECIMAL},
        </if>
        <if test="item.materialPriceNo != null">
          material_price_no = #{item.materialPriceNo,jdbcType=VARCHAR},
        </if>
        <if test="item.materialPriceName != null">
          material_price_name = #{item.materialPriceName,jdbcType=VARCHAR},
        </if>
        <if test="item.materialPriceExpress != null">
          material_price_express = #{item.materialPriceExpress,jdbcType=VARCHAR},
        </if>
        <if test="item.materialNum != null">
          material_num = #{item.materialNum,jdbcType=DECIMAL},
        </if>
        <if test="item.materialPrice != null">
          material_price = #{item.materialPrice,jdbcType=DECIMAL},
        </if>
        <if test="item.techNo != null">
          tech_no = #{item.techNo,jdbcType=VARCHAR},
        </if>
        <if test="item.techName != null">
          tech_name = #{item.techName,jdbcType=VARCHAR},
        </if>
        <if test="item.techPrice != null">
          tech_price = #{item.techPrice,jdbcType=DECIMAL},
        </if>
        <if test="item.techPriceExpress != null">
          tech_price_express = #{item.techPriceExpress,jdbcType=VARCHAR},
        </if>
        <if test="item.memo != null">
          memo = #{item.memo,jdbcType=VARCHAR},
        </if>
        <if test="item.prodPrice1 != null">
          prod_price1 = #{item.prodPrice1,jdbcType=DECIMAL},
        </if>
        <if test="item.ifProd != null">
          if_prod = #{item.ifProd,jdbcType=CHAR},
        </if>
        <if test="item.cateType != null">
          cate_type = #{item.cateType,jdbcType=VARCHAR},
        </if>
        <if test="item.createNo != null">
          create_no = #{item.createNo,jdbcType=VARCHAR},
        </if>
        <if test="item.createTime != null">
          create_time = #{item.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.modiNo != null">
          modi_no = #{item.modiNo,jdbcType=VARCHAR},
        </if>
        <if test="item.modiTime != null">
          modi_time = #{item.modiTime,jdbcType=TIMESTAMP},
        </if>
      </set>
    where 1=1
      and order_no = #{item.orderNo,jdbcType=VARCHAR}
      and order_seq_no = #{item.orderSeqNo,jdbcType=VARCHAR}
    </foreach>
  </update>

  <insert id="insertSelective" parameterType="com.fangxin.siwei.fangzhi.modal.SwOrderDetail">
    insert into sw_order_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="orderSeqNo != null">
        order_seq_no,
      </if>
      <if test="prodNo != null">
        prod_no,
      </if>
      <if test="prodName != null">
        prod_name,
      </if>
      <if test="prodType != null">
        prod_type,
      </if>
      <if test="prodForm != null">
        prod_form,
      </if>
      <if test="prodLong != null">
        prod_long,
      </if>
      <if test="prodWidth != null">
        prod_width,
      </if>
      <if test="prodNum != null">
        prod_num,
      </if>
      <if test="prodUnit != null">
        prod_unit,
      </if>
      <if test="prodPriceNo != null">
        prod_price_no,
      </if>
      <if test="prodPriceExpress != null">
        prod_price_express,
      </if>
      <if test="prodPrice != null">
        prod_price,
      </if>
      <if test="prodAmt != null">
        prod_amt,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="materialNo != null">
        material_no,
      </if>
      <if test="materialName != null">
        material_name,
      </if>
      <if test="materialWidth != null">
        material_width,
      </if>
      <if test="materialPriceNo != null">
        material_price_no,
      </if>
      <if test="materialPriceName != null">
        material_price_name,
      </if>
      <if test="materialPriceExpress != null">
        material_price_express,
      </if>
      <if test="materialNum != null">
        material_num,
      </if>
      <if test="materialPrice != null">
        material_price,
      </if>
      <if test="techNo != null">
        tech_no,
      </if>
      <if test="techName != null">
        tech_name,
      </if>
      <if test="techPrice != null">
        tech_price,
      </if>
      <if test="techPriceExpress != null">
        tech_price_express,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="prodPrice1 != null">
        prod_price1,
      </if>
      <if test="ifProd != null">
        if_prod,
      </if>
      <if test="cateType != null">
        cate_type,
      </if>
      <if test="createNo != null">
        create_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modiNo != null">
        modi_no,
      </if>
      <if test="modiTime != null">
        modi_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderSeqNo != null">
        #{orderSeqNo,jdbcType=VARCHAR},
      </if>
      <if test="prodNo != null">
        #{prodNo,jdbcType=VARCHAR},
      </if>
      <if test="prodName != null">
        #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="prodType != null">
        #{prodType,jdbcType=VARCHAR},
      </if>
      <if test="prodForm != null">
        #{prodForm,jdbcType=VARCHAR},
      </if>
      <if test="prodLong != null">
        #{prodLong,jdbcType=DECIMAL},
      </if>
      <if test="prodWidth != null">
        #{prodWidth,jdbcType=DECIMAL},
      </if>
      <if test="prodNum != null">
        #{prodNum,jdbcType=DECIMAL},
      </if>
      <if test="prodUnit != null">
        #{prodUnit,jdbcType=VARCHAR},
      </if>
      <if test="prodPriceNo != null">
        #{prodPriceNo,jdbcType=VARCHAR},
      </if>
      <if test="prodPriceExpress != null">
        #{prodPriceExpress,jdbcType=VARCHAR},
      </if>
      <if test="prodPrice != null">
        #{prodPrice,jdbcType=DECIMAL},
      </if>
      <if test="prodAmt != null">
        #{prodAmt,jdbcType=DECIMAL},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="materialNo != null">
        #{materialNo,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null">
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialWidth != null">
        #{materialWidth,jdbcType=DECIMAL},
      </if>
      <if test="materialPriceNo != null">
        #{materialPriceNo,jdbcType=VARCHAR},
      </if>
      <if test="materialPriceName != null">
        #{materialPriceName,jdbcType=VARCHAR},
      </if>
      <if test="materialPriceExpress != null">
        #{materialPriceExpress,jdbcType=VARCHAR},
      </if>
      <if test="materialNum != null">
        #{materialNum,jdbcType=DECIMAL},
      </if>
      <if test="materialPrice != null">
        #{materialPrice,jdbcType=DECIMAL},
      </if>
      <if test="techNo != null">
        #{techNo,jdbcType=VARCHAR},
      </if>
      <if test="techName != null">
        #{techName,jdbcType=VARCHAR},
      </if>
      <if test="techPrice != null">
        #{techPrice,jdbcType=DECIMAL},
      </if>
      <if test="techPriceExpress != null">
        #{techPriceExpress,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="prodPrice1 != null">
        #{prodPrice1,jdbcType=DECIMAL},
      </if>
      <if test="ifProd != null">
        #{ifProd,jdbcType=CHAR},
      </if>
      <if test="cateType != null">
        #{cateType,jdbcType=VARCHAR},
      </if>
      <if test="createNo != null">
        #{createNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modiNo != null">
        #{modiNo,jdbcType=VARCHAR},
      </if>
      <if test="modiTime != null">
        #{modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangxin.siwei.fangzhi.modal.SwOrderDetail">
    update sw_order_detail
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderSeqNo != null">
        order_seq_no = #{orderSeqNo,jdbcType=VARCHAR},
      </if>
      <if test="prodNo != null">
        prod_no = #{prodNo,jdbcType=VARCHAR},
      </if>
      <if test="prodName != null">
        prod_name = #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="prodType != null">
        prod_type = #{prodType,jdbcType=VARCHAR},
      </if>
      <if test="prodForm != null">
        prod_form = #{prodForm,jdbcType=VARCHAR},
      </if>
      <if test="prodLong != null">
        prod_long = #{prodLong,jdbcType=DECIMAL},
      </if>
      <if test="prodWidth != null">
        prod_width = #{prodWidth,jdbcType=DECIMAL},
      </if>
      <if test="prodNum != null">
        prod_num = #{prodNum,jdbcType=DECIMAL},
      </if>
      <if test="prodUnit != null">
        prod_unit = #{prodUnit,jdbcType=VARCHAR},
      </if>
      <if test="prodPriceNo != null">
        prod_price_no = #{prodPriceNo,jdbcType=VARCHAR},
      </if>
      <if test="prodPriceExpress != null">
        prod_price_express = #{prodPriceExpress,jdbcType=VARCHAR},
      </if>
      <if test="prodPrice != null">
        prod_price = #{prodPrice,jdbcType=DECIMAL},
      </if>
      <if test="prodAmt != null">
        prod_amt = #{prodAmt,jdbcType=DECIMAL},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="materialNo != null">
        material_no = #{materialNo,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null">
        material_name = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialWidth != null">
        material_width = #{materialWidth,jdbcType=DECIMAL},
      </if>
      <if test="materialPriceNo != null">
        material_price_no = #{materialPriceNo,jdbcType=VARCHAR},
      </if>
      <if test="materialPriceName != null">
        material_price_name = #{materialPriceName,jdbcType=VARCHAR},
      </if>
      <if test="materialPriceExpress != null">
        material_price_express = #{materialPriceExpress,jdbcType=VARCHAR},
      </if>
      <if test="materialNum != null">
        material_num = #{materialNum,jdbcType=DECIMAL},
      </if>
      <if test="materialPrice != null">
        material_price = #{materialPrice,jdbcType=DECIMAL},
      </if>
      <if test="techNo != null">
        tech_no = #{techNo,jdbcType=VARCHAR},
      </if>
      <if test="techName != null">
        tech_name = #{techName,jdbcType=VARCHAR},
      </if>
      <if test="techPrice != null">
        tech_price = #{techPrice,jdbcType=DECIMAL},
      </if>
      <if test="techPriceExpress != null">
        tech_price_express = #{techPriceExpress,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="prodPrice1 != null">
        prod_price1 = #{prodPrice1,jdbcType=DECIMAL},
      </if>
      <if test="ifProd != null">
        if_prod = #{ifProd,jdbcType=CHAR},
      </if>
      <if test="cateType != null">
        cate_type = #{cateType,jdbcType=VARCHAR},
      </if>
      <if test="createNo != null">
        create_no = #{createNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modiNo != null">
        modi_no = #{modiNo,jdbcType=VARCHAR},
      </if>
      <if test="modiTime != null">
        modi_time = #{modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangxin.siwei.fangzhi.modal.SwOrderDetail">
    update sw_order_detail
    set order_no = #{orderNo,jdbcType=VARCHAR},
      order_seq_no = #{orderSeqNo,jdbcType=VARCHAR},
      prod_no = #{prodNo,jdbcType=VARCHAR},
      prod_name = #{prodName,jdbcType=VARCHAR},
      prod_type = #{prodType,jdbcType=VARCHAR},
      prod_form = #{prodForm,jdbcType=VARCHAR},
      prod_long = #{prodLong,jdbcType=DECIMAL},
      prod_width = #{prodWidth,jdbcType=DECIMAL},
      prod_num = #{prodNum,jdbcType=DECIMAL},
      prod_unit = #{prodUnit,jdbcType=VARCHAR},
      prod_price_no = #{prodPriceNo,jdbcType=VARCHAR},
      prod_price_express = #{prodPriceExpress,jdbcType=VARCHAR},
      prod_price = #{prodPrice,jdbcType=DECIMAL},
      prod_amt = #{prodAmt,jdbcType=DECIMAL},
      area = #{area,jdbcType=VARCHAR},
      material_no = #{materialNo,jdbcType=VARCHAR},
      material_name = #{materialName,jdbcType=VARCHAR},
      material_width = #{materialWidth,jdbcType=DECIMAL},
      material_price_no = #{materialPriceNo,jdbcType=VARCHAR},
      material_price_name = #{materialPriceName,jdbcType=VARCHAR},
      material_price_express = #{materialPriceExpress,jdbcType=VARCHAR},
      material_num = #{materialNum,jdbcType=DECIMAL},
      material_price = #{materialPrice,jdbcType=DECIMAL},
      tech_no = #{techNo,jdbcType=VARCHAR},
      tech_name = #{techName,jdbcType=VARCHAR},
      tech_price = #{techPrice,jdbcType=DECIMAL},
      tech_price_express = #{techPriceExpress,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      prod_price1 = #{prodPrice1,jdbcType=DECIMAL},
      if_prod = #{ifProd,jdbcType=CHAR},
      cate_type = #{cateType,jdbcType=VARCHAR},
      create_no = #{createNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modi_no = #{modiNo,jdbcType=VARCHAR},
      modi_time = #{modiTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>