<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxin.siwei.fangzhi.mapper.SwReturnBaseMapper">
  <resultMap id="BaseResultMap" type="com.fangxin.siwei.fangzhi.modal.SwReturnBase">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="return_no" jdbcType="VARCHAR" property="returnNo" />
    <result column="return_date" jdbcType="DATE" property="returnDate" />
    <result column="resp_name" jdbcType="VARCHAR" property="respName" />
    <result column="supply_comp_no" jdbcType="VARCHAR" property="supplyCompNo" />
    <result column="supply_comp_name" jdbcType="VARCHAR" property="supplyCompName" />
    <result column="supply_contact_name" jdbcType="VARCHAR" property="supplyContactName" />
    <result column="supply_mobile" jdbcType="VARCHAR" property="supplyMobile" />
    <result column="supply_phone" jdbcType="VARCHAR" property="supplyPhone" />
    <result column="supply_tax" jdbcType="VARCHAR" property="supplyTax" />
    <result column="supply_addr" jdbcType="VARCHAR" property="supplyAddr" />
    <result column="return_amt" jdbcType="DECIMAL" property="returnAmt" />
    <result column="return_num" jdbcType="DECIMAL" property="returnNum" />
    <result column="return_reason" jdbcType="VARCHAR" property="returnReason" />
    <result column="return_status" jdbcType="VARCHAR" property="returnStatus" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_no" jdbcType="VARCHAR" property="createNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modi_no" jdbcType="VARCHAR" property="modiNo" />
    <result column="modi_time" jdbcType="TIMESTAMP" property="modiTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, return_no, return_date, resp_name, supply_comp_no, supply_comp_name, supply_contact_name, 
    supply_mobile, supply_phone, supply_tax, supply_addr, return_amt, return_num, return_reason, 
    return_status, memo, create_no, create_time, modi_no, modi_time, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sw_return_base
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sw_return_base
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangxin.siwei.fangzhi.modal.SwReturnBase">
    insert into sw_return_base (id, return_no, return_date, 
      resp_name, supply_comp_no, supply_comp_name, 
      supply_contact_name, supply_mobile, supply_phone, 
      supply_tax, supply_addr, return_amt, 
      return_num, return_reason, return_status, 
      memo, create_no, create_time, 
      modi_no, modi_time, version
      )
    values (#{id,jdbcType=INTEGER}, #{returnNo,jdbcType=VARCHAR}, #{returnDate,jdbcType=DATE}, 
      #{respName,jdbcType=VARCHAR}, #{supplyCompNo,jdbcType=VARCHAR}, #{supplyCompName,jdbcType=VARCHAR}, 
      #{supplyContactName,jdbcType=VARCHAR}, #{supplyMobile,jdbcType=VARCHAR}, #{supplyPhone,jdbcType=VARCHAR}, 
      #{supplyTax,jdbcType=VARCHAR}, #{supplyAddr,jdbcType=VARCHAR}, #{returnAmt,jdbcType=DECIMAL}, 
      #{returnNum,jdbcType=DECIMAL}, #{returnReason,jdbcType=VARCHAR}, #{returnStatus,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{createNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modiNo,jdbcType=VARCHAR}, #{modiTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fangxin.siwei.fangzhi.modal.SwReturnBase">
    insert into sw_return_base
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="returnNo != null">
        return_no,
      </if>
      <if test="returnDate != null">
        return_date,
      </if>
      <if test="respName != null">
        resp_name,
      </if>
      <if test="supplyCompNo != null">
        supply_comp_no,
      </if>
      <if test="supplyCompName != null">
        supply_comp_name,
      </if>
      <if test="supplyContactName != null">
        supply_contact_name,
      </if>
      <if test="supplyMobile != null">
        supply_mobile,
      </if>
      <if test="supplyPhone != null">
        supply_phone,
      </if>
      <if test="supplyTax != null">
        supply_tax,
      </if>
      <if test="supplyAddr != null">
        supply_addr,
      </if>
      <if test="returnAmt != null">
        return_amt,
      </if>
      <if test="returnNum != null">
        return_num,
      </if>
      <if test="returnReason != null">
        return_reason,
      </if>
      <if test="returnStatus != null">
        return_status,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="createNo != null">
        create_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modiNo != null">
        modi_no,
      </if>
      <if test="modiTime != null">
        modi_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="returnNo != null">
        #{returnNo,jdbcType=VARCHAR},
      </if>
      <if test="returnDate != null">
        #{returnDate,jdbcType=DATE},
      </if>
      <if test="respName != null">
        #{respName,jdbcType=VARCHAR},
      </if>
      <if test="supplyCompNo != null">
        #{supplyCompNo,jdbcType=VARCHAR},
      </if>
      <if test="supplyCompName != null">
        #{supplyCompName,jdbcType=VARCHAR},
      </if>
      <if test="supplyContactName != null">
        #{supplyContactName,jdbcType=VARCHAR},
      </if>
      <if test="supplyMobile != null">
        #{supplyMobile,jdbcType=VARCHAR},
      </if>
      <if test="supplyPhone != null">
        #{supplyPhone,jdbcType=VARCHAR},
      </if>
      <if test="supplyTax != null">
        #{supplyTax,jdbcType=VARCHAR},
      </if>
      <if test="supplyAddr != null">
        #{supplyAddr,jdbcType=VARCHAR},
      </if>
      <if test="returnAmt != null">
        #{returnAmt,jdbcType=DECIMAL},
      </if>
      <if test="returnNum != null">
        #{returnNum,jdbcType=DECIMAL},
      </if>
      <if test="returnReason != null">
        #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="returnStatus != null">
        #{returnStatus,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createNo != null">
        #{createNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modiNo != null">
        #{modiNo,jdbcType=VARCHAR},
      </if>
      <if test="modiTime != null">
        #{modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangxin.siwei.fangzhi.modal.SwReturnBase">
    update sw_return_base
    <set>
      <if test="returnNo != null">
        return_no = #{returnNo,jdbcType=VARCHAR},
      </if>
      <if test="returnDate != null">
        return_date = #{returnDate,jdbcType=DATE},
      </if>
      <if test="respName != null">
        resp_name = #{respName,jdbcType=VARCHAR},
      </if>
      <if test="supplyCompNo != null">
        supply_comp_no = #{supplyCompNo,jdbcType=VARCHAR},
      </if>
      <if test="supplyCompName != null">
        supply_comp_name = #{supplyCompName,jdbcType=VARCHAR},
      </if>
      <if test="supplyContactName != null">
        supply_contact_name = #{supplyContactName,jdbcType=VARCHAR},
      </if>
      <if test="supplyMobile != null">
        supply_mobile = #{supplyMobile,jdbcType=VARCHAR},
      </if>
      <if test="supplyPhone != null">
        supply_phone = #{supplyPhone,jdbcType=VARCHAR},
      </if>
      <if test="supplyTax != null">
        supply_tax = #{supplyTax,jdbcType=VARCHAR},
      </if>
      <if test="supplyAddr != null">
        supply_addr = #{supplyAddr,jdbcType=VARCHAR},
      </if>
      <if test="returnAmt != null">
        return_amt = #{returnAmt,jdbcType=DECIMAL},
      </if>
      <if test="returnNum != null">
        return_num = #{returnNum,jdbcType=DECIMAL},
      </if>
      <if test="returnReason != null">
        return_reason = #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="returnStatus != null">
        return_status = #{returnStatus,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createNo != null">
        create_no = #{createNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modiNo != null">
        modi_no = #{modiNo,jdbcType=VARCHAR},
      </if>
      <if test="modiTime != null">
        modi_time = #{modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangxin.siwei.fangzhi.modal.SwReturnBase">
    update sw_return_base
    set return_no = #{returnNo,jdbcType=VARCHAR},
      return_date = #{returnDate,jdbcType=DATE},
      resp_name = #{respName,jdbcType=VARCHAR},
      supply_comp_no = #{supplyCompNo,jdbcType=VARCHAR},
      supply_comp_name = #{supplyCompName,jdbcType=VARCHAR},
      supply_contact_name = #{supplyContactName,jdbcType=VARCHAR},
      supply_mobile = #{supplyMobile,jdbcType=VARCHAR},
      supply_phone = #{supplyPhone,jdbcType=VARCHAR},
      supply_tax = #{supplyTax,jdbcType=VARCHAR},
      supply_addr = #{supplyAddr,jdbcType=VARCHAR},
      return_amt = #{returnAmt,jdbcType=DECIMAL},
      return_num = #{returnNum,jdbcType=DECIMAL},
      return_reason = #{returnReason,jdbcType=VARCHAR},
      return_status = #{returnStatus,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      create_no = #{createNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modi_no = #{modiNo,jdbcType=VARCHAR},
      modi_time = #{modiTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>