<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxin.siwei.fangzhi.mapper.SwReceiveDetailMapper">
  <resultMap id="BaseResultMap" type="com.fangxin.siwei.fangzhi.modal.SwReceiveDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="recv_no" jdbcType="VARCHAR" property="recvNo" />
    <result column="recv_seq_no" jdbcType="VARCHAR" property="recvSeqNo" />
    <result column="material_no" jdbcType="VARCHAR" property="materialNo" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_type" jdbcType="VARCHAR" property="materialType" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="pattern" jdbcType="VARCHAR" property="pattern" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="num" jdbcType="DECIMAL" property="num" />
    <result column="create_no" jdbcType="VARCHAR" property="createNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modi_no" jdbcType="VARCHAR" property="modiNo" />
    <result column="modi_time" jdbcType="TIMESTAMP" property="modiTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, recv_no, recv_seq_no, material_no, material_name, material_type, spec, pattern, 
    unit, num, create_no, create_time, modi_no, modi_time, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sw_receive_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByReceiveNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sw_receive_detail
    where recv_no = #{recvNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sw_receive_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into sw_receive_detail ( recv_no, recv_seq_no,
    material_no, material_name, material_type,
    spec, pattern, unit,
    num, create_no, create_time,
    modi_no, modi_time, version
    )
    values
      <foreach collection="list" item="item" index="index" separator=",">
        ( #{item.recvNo,jdbcType=VARCHAR}, #{item.recvSeqNo,jdbcType=VARCHAR},
        #{item.materialNo,jdbcType=VARCHAR}, #{item.materialName,jdbcType=VARCHAR}, #{item.materialType,jdbcType=VARCHAR},
        #{item.spec,jdbcType=VARCHAR}, #{item.pattern,jdbcType=VARCHAR}, #{item.unit,jdbcType=VARCHAR},
        #{item.num,jdbcType=DECIMAL}, #{item.createNo,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
        #{item.modiNo,jdbcType=VARCHAR}, #{item.modiTime,jdbcType=TIMESTAMP}, #{item.version,jdbcType=INTEGER}
        )
      </foreach>
  </insert>
  <insert id="insert" parameterType="com.fangxin.siwei.fangzhi.modal.SwReceiveDetail">
    insert into sw_receive_detail (id, recv_no, recv_seq_no, 
      material_no, material_name, material_type, 
      spec, pattern, unit, 
      num, create_no, create_time, 
      modi_no, modi_time, version
      )
    values (#{id,jdbcType=INTEGER}, #{recvNo,jdbcType=VARCHAR}, #{recvSeqNo,jdbcType=VARCHAR}, 
      #{materialNo,jdbcType=VARCHAR}, #{materialName,jdbcType=VARCHAR}, #{materialType,jdbcType=VARCHAR}, 
      #{spec,jdbcType=VARCHAR}, #{pattern,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, 
      #{num,jdbcType=DECIMAL}, #{createNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modiNo,jdbcType=VARCHAR}, #{modiTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fangxin.siwei.fangzhi.modal.SwReceiveDetail">
    insert into sw_receive_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="recvNo != null">
        recv_no,
      </if>
      <if test="recvSeqNo != null">
        recv_seq_no,
      </if>
      <if test="materialNo != null">
        material_no,
      </if>
      <if test="materialName != null">
        material_name,
      </if>
      <if test="materialType != null">
        material_type,
      </if>
      <if test="spec != null">
        spec,
      </if>
      <if test="pattern != null">
        pattern,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="createNo != null">
        create_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modiNo != null">
        modi_no,
      </if>
      <if test="modiTime != null">
        modi_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="recvNo != null">
        #{recvNo,jdbcType=VARCHAR},
      </if>
      <if test="recvSeqNo != null">
        #{recvSeqNo,jdbcType=VARCHAR},
      </if>
      <if test="materialNo != null">
        #{materialNo,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null">
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialType != null">
        #{materialType,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="pattern != null">
        #{pattern,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=DECIMAL},
      </if>
      <if test="createNo != null">
        #{createNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modiNo != null">
        #{modiNo,jdbcType=VARCHAR},
      </if>
      <if test="modiTime != null">
        #{modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <delete id="deleteByRecvNo" parameterType="java.lang.String">
    DELETE from sw_receive_detail where recv_no=#{recvNo,jdbcType=VARCHAR}
  </delete>
  <update id="updateBatch" parameterType="java.util.List">
    <foreach collection="list" item="item" separator=";" index="index">
      update sw_receive_detail
      <set>
        <if test="item.materialNo != null">
          material_no = #{item.materialNo,jdbcType=VARCHAR},
        </if>
        <if test="item.materialName != null">
          material_name = #{item.materialName,jdbcType=VARCHAR},
        </if>
        <if test="item.materialType != null">
          material_type = #{item.materialType,jdbcType=VARCHAR},
        </if>
        <if test="item.spec != null">
          spec = #{item.spec,jdbcType=VARCHAR},
        </if>
        <if test="item.pattern != null">
          pattern = #{item.pattern,jdbcType=VARCHAR},
        </if>
        <if test="item.unit != null">
          unit = #{item.unit,jdbcType=VARCHAR},
        </if>
        <if test="item.num != null">
          num = #{item.num,jdbcType=DECIMAL},
        </if>
        <if test="item.createNo != null">
          create_no = #{item.createNo,jdbcType=VARCHAR},
        </if>
        <if test="item.createTime != null">
          create_time = #{item.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.modiNo != null">
          modi_no = #{item.modiNo,jdbcType=VARCHAR},
        </if>
        <if test="item.modiTime != null">
          modi_time = #{item.modiTime,jdbcType=TIMESTAMP},
        </if>
      </set>
      where
        recv_no = #{item.recvNo,jdbcType=VARCHAR}
        and recv_seq_no = #{item.recvSeqNo,jdbcType=VARCHAR}
    </foreach>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangxin.siwei.fangzhi.modal.SwReceiveDetail">
    update sw_receive_detail
    <set>
      <if test="recvNo != null">
        recv_no = #{recvNo,jdbcType=VARCHAR},
      </if>
      <if test="recvSeqNo != null">
        recv_seq_no = #{recvSeqNo,jdbcType=VARCHAR},
      </if>
      <if test="materialNo != null">
        material_no = #{materialNo,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null">
        material_name = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialType != null">
        material_type = #{materialType,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="pattern != null">
        pattern = #{pattern,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=DECIMAL},
      </if>
      <if test="createNo != null">
        create_no = #{createNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modiNo != null">
        modi_no = #{modiNo,jdbcType=VARCHAR},
      </if>
      <if test="modiTime != null">
        modi_time = #{modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangxin.siwei.fangzhi.modal.SwReceiveDetail">
    update sw_receive_detail
    set recv_no = #{recvNo,jdbcType=VARCHAR},
      recv_seq_no = #{recvSeqNo,jdbcType=VARCHAR},
      material_no = #{materialNo,jdbcType=VARCHAR},
      material_name = #{materialName,jdbcType=VARCHAR},
      material_type = #{materialType,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      pattern = #{pattern,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      num = #{num,jdbcType=DECIMAL},
      create_no = #{createNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modi_no = #{modiNo,jdbcType=VARCHAR},
      modi_time = #{modiTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>