<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxin.siwei.fangzhi.mapper.SwReturnDetailMapper">
  <resultMap id="BaseResultMap" type="com.fangxin.siwei.fangzhi.modal.SwReturnDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="return_no" jdbcType="VARCHAR" property="returnNo" />
    <result column="return_seq_no" jdbcType="VARCHAR" property="returnSeqNo" />
    <result column="pur_no" jdbcType="VARCHAR" property="purNo" />
    <result column="pur_seq_no" jdbcType="VARCHAR" property="purSeqNo" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="order_seq_no" jdbcType="VARCHAR" property="orderSeqNo" />
    <result column="material_no" jdbcType="VARCHAR" property="materialNo" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_type" jdbcType="VARCHAR" property="materialType" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="pattern" jdbcType="VARCHAR" property="pattern" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="num" jdbcType="DECIMAL" property="num" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="amt" jdbcType="DECIMAL" property="amt" />
    <result column="return_reason" jdbcType="VARCHAR" property="returnReason" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_no" jdbcType="VARCHAR" property="createNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modi_no" jdbcType="VARCHAR" property="modiNo" />
    <result column="modi_time" jdbcType="TIMESTAMP" property="modiTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, return_no, return_seq_no, pur_no, pur_seq_no, order_no, order_seq_no, material_no, 
    material_name, material_type, spec, pattern, unit, num, price, amt, return_reason, 
    memo, create_no, create_time, modi_no, modi_time, version
  </sql>
  <select id="selectByReturnNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sw_return_detail
    where return_no = #{returnNo,jdbcType=VARCHAR}
  </select>

  <insert id="insertBatch" parameterType="java.util.List">
    insert into sw_return_detail ( return_no, return_seq_no,
      pur_no, pur_seq_no, order_no, 
      order_seq_no, material_no, material_name, 
      material_type, spec, pattern, 
      unit, num, price, amt, 
      return_reason, memo, create_no, 
      create_time, modi_no, modi_time, 
      version)
    values
     <foreach collection="list" item="item" separator="," index="index">
     ( #{item.returnNo,jdbcType=VARCHAR}, #{item.returnSeqNo,jdbcType=VARCHAR},
      #{item.purNo,jdbcType=VARCHAR}, #{item.purSeqNo,jdbcType=VARCHAR}, #{item.orderNo,jdbcType=VARCHAR},
      #{item.orderSeqNo,jdbcType=VARCHAR}, #{item.materialNo,jdbcType=VARCHAR}, #{item.materialName,jdbcType=VARCHAR},
      #{item.materialType,jdbcType=VARCHAR}, #{item.spec,jdbcType=VARCHAR}, #{item.pattern,jdbcType=VARCHAR},
      #{item.unit,jdbcType=VARCHAR}, #{item.num,jdbcType=DECIMAL}, #{item.price,jdbcType=DECIMAL}, #{item.amt,jdbcType=DECIMAL},
      #{item.returnReason,jdbcType=VARCHAR}, #{item.memo,jdbcType=VARCHAR}, #{item.createNo,jdbcType=VARCHAR},
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.modiNo,jdbcType=VARCHAR}, #{item.modiTime,jdbcType=TIMESTAMP},
      #{item.version,jdbcType=INTEGER})
     </foreach>
  </insert>

  <update id="updateBatch" parameterType="java.util.List">
    <foreach collection="list" index="index" item="item" separator=";">
    update sw_return_detail
    <set>

      <if test="item.purNo != null">
        pur_no = #{item.purNo,jdbcType=VARCHAR},
      </if>
      <if test="item.purSeqNo != null">
        pur_seq_no = #{item.purSeqNo,jdbcType=VARCHAR},
      </if>
      <if test="item.orderNo != null">
        order_no = #{item.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="item.orderSeqNo != null">
        order_seq_no = #{item.orderSeqNo,jdbcType=VARCHAR},
      </if>
      <if test="item.materialNo != null">
        material_no = #{item.materialNo,jdbcType=VARCHAR},
      </if>
      <if test="item.materialName != null">
        material_name = #{item.materialName,jdbcType=VARCHAR},
      </if>
      <if test="item.materialType != null">
        material_type = #{item.materialType,jdbcType=VARCHAR},
      </if>
      <if test="item.spec != null">
        spec = #{item.spec,jdbcType=VARCHAR},
      </if>
      <if test="item.pattern != null">
        pattern = #{item.pattern,jdbcType=VARCHAR},
      </if>
      <if test="item.unit != null">
        unit = #{item.unit,jdbcType=VARCHAR},
      </if>
      <if test="item.num != null">
        num = #{item.num,jdbcType=DECIMAL},
      </if>
      <if test="item.price != null">
        price = #{item.price,jdbcType=DECIMAL},
      </if>
      <if test="item.amt != null">
        amt = #{item.amt,jdbcType=DECIMAL},
      </if>
      <if test="item.returnReason != null">
        return_reason = #{item.returnReason,jdbcType=VARCHAR},
      </if>
      <if test="item.memo != null">
        memo = #{item.memo,jdbcType=VARCHAR},
      </if>
      <if test="item.createNo != null">
        create_no = #{item.createNo,jdbcType=VARCHAR},
      </if>
      <if test="item.createTime != null">
        create_time = #{item.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="item.modiNo != null">
        modi_no = #{item.modiNo,jdbcType=VARCHAR},
      </if>
      <if test="item.modiTime != null">
        modi_time = #{item.modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="item.version != null">
        version = #{item.version,jdbcType=INTEGER},
      </if>
    </set>
    where
        return_no = #{returnNo,jdbcType=VARCHAR}
      and return_seq_no = #{returnSeqNo,jdbcType=VARCHAR}
    </foreach>

  </update>

</mapper>