<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxin.siwei.fangzhi.mapper.SwStockInfoMapper">
  <resultMap id="BaseResultMap" type="com.fangxin.siwei.fangzhi.modal.SwStockInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="material_no" jdbcType="VARCHAR" property="materialNo" />
    <result column="num" jdbcType="DECIMAL" property="num" />
    <result column="modi_time" jdbcType="TIMESTAMP" property="modiTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, material_no, num, modi_time, version
  </sql>

  <select id="selectByMaterialNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sw_stock_info
    where material_no = #{materialNo,jdbcType=VARCHAR}
  </select>

  <update id="addNum" parameterType="com.fangxin.siwei.fangzhi.modal.SwStockInfo">
    update sw_stock_info
    set
        num =num+ #{num,jdbcType=DECIMAL},
        modi_time = #{modiTime,jdbcType=TIMESTAMP},
        version = version+1
    where  material_no = #{materialNo,jdbcType=VARCHAR} and version = #{version,jdbcType=INTEGER}
  </update>

  <update id="updateByNo" parameterType="com.fangxin.siwei.fangzhi.modal.SwStockInfo">
    update sw_stock_info
    set
    num = #{num,jdbcType=DECIMAL},
    modi_time = #{modiTime,jdbcType=TIMESTAMP},
    version = version+1
    where  material_no = #{materialNo,jdbcType=VARCHAR} and version = #{version,jdbcType=INTEGER}
  </update>


</mapper>