<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxin.siwei.fangzhi.mapper.SwStockInMapper">
  <resultMap id="BaseResultMap" type="com.fangxin.siwei.fangzhi.modal.SwStockIn">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stk_in_no" jdbcType="VARCHAR" property="stkInNo" />
    <result column="order_type" jdbcType="VARCHAR" property="orderType" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="order_seq_no" jdbcType="VARCHAR" property="orderSeqNo" />
    <result column="material_no" jdbcType="VARCHAR" property="materialNo" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_type" jdbcType="VARCHAR" property="materialType" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="pattern" jdbcType="VARCHAR" property="pattern" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="material_stock" jdbcType="VARCHAR" property="materialStock" />
    <result column="num" jdbcType="DECIMAL" property="num" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_no" jdbcType="VARCHAR" property="createNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modi_no" jdbcType="VARCHAR" property="modiNo" />
    <result column="modi_time" jdbcType="TIMESTAMP" property="modiTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stk_in_no, order_type, order_no, order_seq_no, material_no, material_name, material_type, 
    spec, pattern, unit, material_stock, num, status, create_no, create_time, modi_no, 
    modi_time, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sw_stock_in
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sw_stock_in
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangxin.siwei.fangzhi.modal.SwStockIn">
    insert into sw_stock_in (id, stk_in_no, order_type, 
      order_no, order_seq_no, material_no, 
      material_name, material_type, spec, 
      pattern, unit, material_stock, 
      num, status, create_no, 
      create_time, modi_no, modi_time, 
      version)
    values (#{id,jdbcType=INTEGER}, #{stkInNo,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{orderSeqNo,jdbcType=VARCHAR}, #{materialNo,jdbcType=VARCHAR}, 
      #{materialName,jdbcType=VARCHAR}, #{materialType,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, 
      #{pattern,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{materialStock,jdbcType=VARCHAR}, 
      #{num,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, #{createNo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modiNo,jdbcType=VARCHAR}, #{modiTime,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fangxin.siwei.fangzhi.modal.SwStockIn">
    insert into sw_stock_in
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stkInNo != null">
        stk_in_no,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="orderSeqNo != null">
        order_seq_no,
      </if>
      <if test="materialNo != null">
        material_no,
      </if>
      <if test="materialName != null">
        material_name,
      </if>
      <if test="materialType != null">
        material_type,
      </if>
      <if test="spec != null">
        spec,
      </if>
      <if test="pattern != null">
        pattern,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="materialStock != null">
        material_stock,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createNo != null">
        create_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modiNo != null">
        modi_no,
      </if>
      <if test="modiTime != null">
        modi_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stkInNo != null">
        #{stkInNo,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderSeqNo != null">
        #{orderSeqNo,jdbcType=VARCHAR},
      </if>
      <if test="materialNo != null">
        #{materialNo,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null">
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialType != null">
        #{materialType,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="pattern != null">
        #{pattern,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="materialStock != null">
        #{materialStock,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createNo != null">
        #{createNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modiNo != null">
        #{modiNo,jdbcType=VARCHAR},
      </if>
      <if test="modiTime != null">
        #{modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangxin.siwei.fangzhi.modal.SwStockIn">
    update sw_stock_in
    <set>
      <if test="stkInNo != null">
        stk_in_no = #{stkInNo,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderSeqNo != null">
        order_seq_no = #{orderSeqNo,jdbcType=VARCHAR},
      </if>
      <if test="materialNo != null">
        material_no = #{materialNo,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null">
        material_name = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialType != null">
        material_type = #{materialType,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="pattern != null">
        pattern = #{pattern,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="materialStock != null">
        material_stock = #{materialStock,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createNo != null">
        create_no = #{createNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modiNo != null">
        modi_no = #{modiNo,jdbcType=VARCHAR},
      </if>
      <if test="modiTime != null">
        modi_time = #{modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangxin.siwei.fangzhi.modal.SwStockIn">
    update sw_stock_in
    set stk_in_no = #{stkInNo,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      order_seq_no = #{orderSeqNo,jdbcType=VARCHAR},
      material_no = #{materialNo,jdbcType=VARCHAR},
      material_name = #{materialName,jdbcType=VARCHAR},
      material_type = #{materialType,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      pattern = #{pattern,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      material_stock = #{materialStock,jdbcType=VARCHAR},
      num = #{num,jdbcType=DECIMAL},
      status = #{status,jdbcType=VARCHAR},
      create_no = #{createNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modi_no = #{modiNo,jdbcType=VARCHAR},
      modi_time = #{modiTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>