<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxin.siwei.fangzhi.mapper.SwWorkDetailMapper">
  <resultMap id="BaseResultMap" type="com.fangxin.siwei.fangzhi.modal.SwWorkDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="work_no" jdbcType="DATE" property="workNo" />
    <result column="work_date" jdbcType="DATE" property="workDate" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="order_seq_no" jdbcType="VARCHAR" property="orderSeqNo" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="step_no" jdbcType="VARCHAR" property="stepNo" />
    <result column="step_name" jdbcType="VARCHAR" property="stepName" />
    <result column="process_no" jdbcType="VARCHAR" property="processNo" />
    <result column="process_name" jdbcType="VARCHAR" property="processName" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="create_no" jdbcType="VARCHAR" property="createNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modi_no" jdbcType="VARCHAR" property="modiNo" />
    <result column="modi_time" jdbcType="TIMESTAMP" property="modiTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id,work_no, work_date, order_no, order_seq_no, user_no, user_name, step_no, step_name, process_no,
    process_name, unit, num, create_no, create_time, modi_no, modi_time, version
  </sql>

  <select id="selectByCond" resultMap="BaseResultMap" parameterType="java.util.Map">
      SELECT
      <include refid="Base_Column_List" />
    from sw_work_detail
    where 1=1
    <if test="startTime!=null" >
      and  work_date &gt;= #{startTime,jdbcType="VARCHAR"}
    </if>
    <if test="endTime!=null" >
      and work_date &lt;= #{endTime,jdbcType="VARCHAR"}
    </if>
    <if test="orderNo!=null" >
      and order_no = #{orderNo,jdbcType="VARCHAR" }
    </if>
    <if test="userName!=null" >
      and user_name = #{userName,jdbcType="VARCHAR" }
    </if>
    <if test="stepNo!=null" >
      and step_no = #{stepNo,jdbcType="VARCHAR" }
    </if>
   </select>

  <insert id="insertBatch" parameterType="java.util.List">
    insert into sw_work_detail ( work_no, work_date,
    order_no, order_seq_no, user_no,
    user_name, step_no, step_name,
    process_no, process_name, unit,
    num, create_no, create_time,
    modi_no, modi_time, version
    )
    values
    <foreach collection="list" item="item" separator="," index="index" >
      ( #{item.workNo,jdbcType=VARCHAR}, #{item.workDate,jdbcType=DATE},
      #{item.orderNo,jdbcType=VARCHAR}, #{item.orderSeqNo,jdbcType=VARCHAR}, #{item.userNo,jdbcType=VARCHAR},
      #{item.userName,jdbcType=VARCHAR}, #{item.stepNo,jdbcType=VARCHAR}, #{item.stepName,jdbcType=VARCHAR},
      #{item.processNo,jdbcType=VARCHAR}, #{item.processName,jdbcType=VARCHAR}, #{item.unit,jdbcType=VARCHAR},
      #{item.num,jdbcType=VARCHAR}, #{item.createNo,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
      #{item.modiNo,jdbcType=VARCHAR}, #{item.modiTime,jdbcType=TIMESTAMP}, #{item.version,jdbcType=INTEGER}
      )
    </foreach>
  </insert>

</mapper>