<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxin.siwei.fangzhi.mapper.SysAuditLogMapper">
  <resultMap id="BaseResultMap" type="com.fangxin.siwei.fangzhi.modal.SysAuditLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="source_no" jdbcType="VARCHAR" property="sourceNo" />
    <result column="audit_no" jdbcType="VARCHAR" property="auditNo" />
    <result column="audit_type" jdbcType="VARCHAR" property="auditType" />
    <result column="audit_type_name" jdbcType="VARCHAR" property="auditTypeName" />
    <result column="audit_action" jdbcType="VARCHAR" property="auditAction" />
    <result column="audit_action_name" jdbcType="VARCHAR" property="auditActionName" />
    <result column="current_stage" jdbcType="VARCHAR" property="currentStage" />
    <result column="next_stage" jdbcType="VARCHAR" property="nextStage" />
    <result column="audit_user_no" jdbcType="VARCHAR" property="auditUserNo" />
    <result column="audit_user_name" jdbcType="VARCHAR" property="auditUserName" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="audit_desc" jdbcType="VARCHAR" property="auditDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, source_no, audit_no, audit_type, audit_type_name, audit_action, audit_action_name, 
    current_stage, next_stage, audit_user_no, audit_user_name, audit_time, audit_desc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_audit_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="querySysAuditLogsBySourceNo" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_audit_log
    where source_no = #{sourceNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_audit_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangxin.siwei.fangzhi.modal.SysAuditLog">
    insert into sys_audit_log (id, source_no, audit_no, 
      audit_type, audit_type_name, audit_action, 
      audit_action_name, current_stage, next_stage, 
      audit_user_no, audit_user_name, audit_time, 
      audit_desc)
    values (#{id,jdbcType=INTEGER}, #{sourceNo,jdbcType=VARCHAR}, #{auditNo,jdbcType=VARCHAR}, 
      #{auditType,jdbcType=VARCHAR}, #{auditTypeName,jdbcType=VARCHAR}, #{auditAction,jdbcType=VARCHAR}, 
      #{auditActionName,jdbcType=VARCHAR}, #{currentStage,jdbcType=VARCHAR}, #{nextStage,jdbcType=VARCHAR}, 
      #{auditUserNo,jdbcType=VARCHAR}, #{auditUserName,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{auditDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fangxin.siwei.fangzhi.modal.SysAuditLog">
    insert into sys_audit_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sourceNo != null">
        source_no,
      </if>
      <if test="auditNo != null">
        audit_no,
      </if>
      <if test="auditType != null">
        audit_type,
      </if>
      <if test="auditTypeName != null">
        audit_type_name,
      </if>
      <if test="auditAction != null">
        audit_action,
      </if>
      <if test="auditActionName != null">
        audit_action_name,
      </if>
      <if test="currentStage != null">
        current_stage,
      </if>
      <if test="nextStage != null">
        next_stage,
      </if>
      <if test="auditUserNo != null">
        audit_user_no,
      </if>
      <if test="auditUserName != null">
        audit_user_name,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="auditDesc != null">
        audit_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sourceNo != null">
        #{sourceNo,jdbcType=VARCHAR},
      </if>
      <if test="auditNo != null">
        #{auditNo,jdbcType=VARCHAR},
      </if>
      <if test="auditType != null">
        #{auditType,jdbcType=VARCHAR},
      </if>
      <if test="auditTypeName != null">
        #{auditTypeName,jdbcType=VARCHAR},
      </if>
      <if test="auditAction != null">
        #{auditAction,jdbcType=VARCHAR},
      </if>
      <if test="auditActionName != null">
        #{auditActionName,jdbcType=VARCHAR},
      </if>
      <if test="currentStage != null">
        #{currentStage,jdbcType=VARCHAR},
      </if>
      <if test="nextStage != null">
        #{nextStage,jdbcType=VARCHAR},
      </if>
      <if test="auditUserNo != null">
        #{auditUserNo,jdbcType=VARCHAR},
      </if>
      <if test="auditUserName != null">
        #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditDesc != null">
        #{auditDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangxin.siwei.fangzhi.modal.SysAuditLog">
    update sys_audit_log
    <set>
      <if test="sourceNo != null">
        source_no = #{sourceNo,jdbcType=VARCHAR},
      </if>
      <if test="auditNo != null">
        audit_no = #{auditNo,jdbcType=VARCHAR},
      </if>
      <if test="auditType != null">
        audit_type = #{auditType,jdbcType=VARCHAR},
      </if>
      <if test="auditTypeName != null">
        audit_type_name = #{auditTypeName,jdbcType=VARCHAR},
      </if>
      <if test="auditAction != null">
        audit_action = #{auditAction,jdbcType=VARCHAR},
      </if>
      <if test="auditActionName != null">
        audit_action_name = #{auditActionName,jdbcType=VARCHAR},
      </if>
      <if test="currentStage != null">
        current_stage = #{currentStage,jdbcType=VARCHAR},
      </if>
      <if test="nextStage != null">
        next_stage = #{nextStage,jdbcType=VARCHAR},
      </if>
      <if test="auditUserNo != null">
        audit_user_no = #{auditUserNo,jdbcType=VARCHAR},
      </if>
      <if test="auditUserName != null">
        audit_user_name = #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditDesc != null">
        audit_desc = #{auditDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangxin.siwei.fangzhi.modal.SysAuditLog">
    update sys_audit_log
    set source_no = #{sourceNo,jdbcType=VARCHAR},
      audit_no = #{auditNo,jdbcType=VARCHAR},
      audit_type = #{auditType,jdbcType=VARCHAR},
      audit_type_name = #{auditTypeName,jdbcType=VARCHAR},
      audit_action = #{auditAction,jdbcType=VARCHAR},
      audit_action_name = #{auditActionName,jdbcType=VARCHAR},
      current_stage = #{currentStage,jdbcType=VARCHAR},
      next_stage = #{nextStage,jdbcType=VARCHAR},
      audit_user_no = #{auditUserNo,jdbcType=VARCHAR},
      audit_user_name = #{auditUserName,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      audit_desc = #{auditDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>