<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxin.siwei.fangzhi.mapper.SysDictMapper">
  <resultMap id="BaseResultMap" type="com.fangxin.siwei.fangzhi.modal.SysDict">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dict_type" jdbcType="VARCHAR" property="dictType" />
    <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
    <result column="dict_name" jdbcType="VARCHAR" property="dictName" />
    <result column="dict_value" jdbcType="VARCHAR" property="dictValue" />
    <result column="dict_desc" jdbcType="VARCHAR" property="dictDesc" />
    <result column="fh_dict_code" jdbcType="VARCHAR" property="fhDictCode" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dict_type, dict_code, dict_name, dict_value, dict_desc, fh_dict_code, memo
  </sql>
  <select id="selectByUniqNo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dict
    where dict_type = #{dictType,jdbcType=VARCHAR}
    and dict_code = #{dictCode,jdbcType=VARCHAR}
  </select>

  <select id="selectByDictType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_dict
    where dict_type = #{dictType,jdbcType=VARCHAR}
 </select>



</mapper>