<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxin.siwei.fangzhi.mapper.SysResourceMapper">
  <resultMap id="BaseResultMap" type="com.fangxin.siwei.fangzhi.modal.SysResource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="source_no" jdbcType="VARCHAR" property="sourceNo" />
    <result column="source_name" jdbcType="VARCHAR" property="sourceName" />
    <result column="fh_source_no" jdbcType="VARCHAR" property="fhSourceNo" />
    <result column="source_type" jdbcType="VARCHAR" property="sourceType" />
    <result column="req_url" jdbcType="VARCHAR" property="reqUrl" />
    <result column="rsource_icon" jdbcType="VARCHAR" property="rsourceIcon" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="if_visible" jdbcType="CHAR" property="ifVisible" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_no" jdbcType="VARCHAR" property="createNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modi_no" jdbcType="VARCHAR" property="modiNo" />
    <result column="modi_time" jdbcType="TIMESTAMP" property="modiTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, source_no, source_name, fh_source_no, source_type, req_url, rsource_icon, sort_order, 
    if_visible, memo, create_no, create_time, modi_no, modi_time, version
  </sql>
  <select id="selectByResourceNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_resource
    where source_no = #{sourceNo,jdbcType=VARCHAR}
  </select>


  <select id="selectListByUserNo" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    a.source_no, a.source_name, a.fh_source_no, a.source_type, a.req_url, a.rsource_icon, a.sort_order,a.level
    FROM sys_resource AS a
    JOIN sys_role_resource AS b ON a.source_no=b.source_no
    JOIN sys_user_role AS c ON c.role_code=b.role_code
    WHERE 1=1
    and c.user_no = #{userNo,jdbcType=VARCHAR}
    ORDER BY LEVEL,sort_order
  </select>


  <update id="updateByResourceNo" parameterType="com.fangxin.siwei.fangzhi.modal.SysResource">
    update sys_resource
    <set>

      <if test="sourceName != null">
        source_name = #{sourceName,jdbcType=VARCHAR},
      </if>
      <if test="fhSourceNo != null">
        fh_source_no = #{fhSourceNo,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="reqUrl != null">
        req_url = #{reqUrl,jdbcType=VARCHAR},
      </if>
      <if test="rsourceIcon != null">
        rsource_icon = #{rsourceIcon,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null">
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="ifVisible != null">
        if_visible = #{ifVisible,jdbcType=CHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createNo != null">
        create_no = #{createNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modiNo != null">
        modi_no = #{modiNo,jdbcType=VARCHAR},
      </if>
      <if test="modiTime != null">
        modi_time = #{modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    wheres  source_no = #{sourceNo,jdbcType=VARCHAR}
  </update>

</mapper>