<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxin.siwei.fangzhi.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.fangxin.siwei.fangzhi.modal.SysUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="email_addr" jdbcType="VARCHAR" property="emailAddr" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="create_no" jdbcType="VARCHAR" property="createNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modi_no" jdbcType="VARCHAR" property="modiNo" />
    <result column="modi_time" jdbcType="TIMESTAMP" property="modiTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_no, user_name, nick_name, phone_num, email_addr, password, status, memo, 
    last_login_time, create_no, create_time, modi_no, modi_time, version
  </sql>

  <select id="selectByUserNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_user
    where user_no = #{userNo,jdbcType=VARCHAR}
  </select>



  <delete id="deleteByUserNo" parameterType="java.lang.String">
     delete from sys_user
    where user_no = #{userNo,jdbcType=VARCHAR}
  </delete>


  <update id="updateByUserNo" parameterType="com.fangxin.siwei.fangzhi.modal.SysUser">
    update sys_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null">
        phone_num = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="emailAddr != null">
        email_addr = #{emailAddr,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createNo != null">
        create_no = #{createNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modiNo != null">
        modi_no = #{modiNo,jdbcType=VARCHAR},
      </if>
      <if test="modiTime != null">
        modi_time = #{modiTime,jdbcType=TIMESTAMP},
      </if>
      version = version+1,
    </set>
    where user_no = #{userNo,jdbcType=VARCHAR}
    and  version = #{version,jdbcType=INTEGER}
  </update>
</mapper>